<dom-module id="cells-web-footer-styles"><template><style>
:host {
  display: block;
  font-family: var(--cells-fontDefault, --fontDefault);
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

:host {
  @apply (--cells-web-footer); }

.custom-size {
  --cells-atom-icon-size: 4.3rem;
  @apply (--cells-web-footer-logo-size); }

.webfooter {
  background: var(--bbva-navy, #072146);
  @apply (--cells-web-footer-father); }
  .webfooter-wrapper {
    width: 95%;
    max-width: 1024px;
    margin: 0 auto;
    padding: 4rem 0;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    @apply (--cells-web-footer-wrapper); }
  .webfooter-main {
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    @apply (--cells-web-footer-main-section); }
  .webfooter-links {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-weight: 500;
    width: 25%;
    margin-left: -0.6rem;
    margin-bottom: 1.8rem;
    @apply (--cells-web-footer-links-section); }
    .webfooter-links-link {
      width: auto;
      color: var(--bbva-light-blue, #5bbeff);
      @apply (--cells-web-footer-links); }
  .webfooter-company {
    height: 2.3rem;
    line-height: 2.3rem;
    padding-right: 1rem;
    border-right: 1px solid var(--cells-BM4_colour);
    @apply (--cells-web-footer-links-company); }
  .webfooter-slogan {
    margin-left: 1rem;
    @apply (--cells-web-footer-slogan); }
  .webfooter-icons {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 25%;
    @apply (--cells-web-footer-icon-section); }
    .webfooter-icons-icon {
      width: 1.5rem;
      height: 1.5rem;
      background: var(--bbva-light-blue, #5bbeff);
      color: var(--bbva-navy, #072146);
      border-radius: 50%;
      padding: 0.3rem;
      @apply (--cells-web-footer-icon); }
  .webfooter-header {
    color: white;
    @apply (--cells-web-footer-header); }
  .webfooter-disclosure {
    font-size: 0.7rem;
    color: var(--cells-KM3_colour);
    @apply (--cells-web-footer-disclosure); }
  .webfooter.mobile {
    @apply (--cells-web-footer-mobile); }
    .webfooter.mobile .webfooter-company {
      border: none; }
    .webfooter.mobile .webfooter-header {
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      height: 6rem; }
    .webfooter.mobile .webfooter-icons {
      width: 15rem;
      margin-bottom: 1rem; }
    .webfooter.mobile .webfooter-slogan {
      margin: 0; }
    .webfooter.mobile .webfooter-links {
      width: 100%;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-align-items: center;
          -ms-flex-align: center;
                  -ms-grid-row-align: center;
              align-items: center;
      margin-top: 0.8rem; }
    .webfooter.mobile .webfooter-main {
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
    .webfooter.mobile .webfooter-info {
      text-align: center; }
  .webfooter .flex-items-center {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    @apply (--cells-web-footer-flex-items-center_helper); }

</style></template></dom-module>