@import "bower_components/cells-sass/main";
:host {
  @apply(--cells-web-footer);
}
.custom-size {
  --cells-atom-icon-size: 4.3rem;
  @apply(--cells-web-footer-logo-size);
}
.webfooter {
  background: var(--bbva-navy, #072146);
  @apply(--cells-web-footer-father);
  &-wrapper{
    width: 95%;
    max-width: 1024px;
    margin: 0 auto;
    padding: 4rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @apply(--cells-web-footer-wrapper);
  }
  &-main {
    justify-content: space-between;
    @apply(--cells-web-footer-main-section);
  }
  &-links {
    display: flex;
    font-weight: 500;
    width: 25%;
    margin-left: -0.6rem;
    margin-bottom: 1.8rem;
    @apply(--cells-web-footer-links-section);
    &-link {
      width: auto;
      color: var(--bbva-light-blue, #5bbeff);
      @apply(--cells-web-footer-links);
    }
  }
  &-company {
    height: 2.3rem;
    line-height: 2.3rem;
    padding-right: 1rem;
    border-right: 1px solid var(--cells-BM4_colour);
    @apply(--cells-web-footer-links-company);
  }
  &-slogan {
    margin-left: 1rem;
    @apply(--cells-web-footer-slogan);
  }
  &-icons {
    display: flex;
    justify-content: space-between;
    width: 25%;
    @apply(--cells-web-footer-icon-section);
    &-icon {
      width: 1.5rem;
      height: 1.5rem;
      background: var(--bbva-light-blue, #5bbeff);
      color: var(--bbva-navy, #072146);
      border-radius: 50%;
      padding: 0.3rem;
      @apply(--cells-web-footer-icon);
    }
  }
  &-header {
    color: white;
    @apply(--cells-web-footer-header);
  }
  &-disclosure {
    font-size: 0.7rem;
    color: var(--cells-KM3_colour);
    @apply(--cells-web-footer-disclosure);
  }
  &.mobile {
    .webfooter-company {
      border: none;
    }
    .webfooter-header{
      flex-direction: column;
      height: 6rem;      
    }
    .webfooter-icons{
      width: 15rem;
      margin-bottom: 1rem;
    }
    .webfooter-slogan {
      margin: 0;
    }
    .webfooter-links {
      width: 100%;
      justify-content: space-between;
      align-items: center;
      margin-top: 0.8rem;
    }
    .webfooter-main {
      justify-content: center;
      flex-direction: column;
    }
    .webfooter-info {
      text-align: center;
    }
    @apply(--cells-web-footer-mobile);
  }
  .flex-items-center {
    display: flex;
    align-items: center;
    @apply(--cells-web-footer-flex-items-center_helper);
  }
}
