<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="cells-web-footer-styles.html">

<link rel="import" href="../cells-i18n-behavior/cells-i18n-behavior.html">
<link rel="import" href="../molecule-link-icon/molecule-link-icon.html">
<link rel="import" href="../cells-atom-icon/cells-atom-icon.html">
<link rel="import" href="../iron-media-query/iron-media-query.html">

<!--
`<cells-web-footer>` description.

Example:

```html
<cells-web-footer></cells-web-footer>
```

## Styling

The following custom properties and mixins are available for styling:

| Custom property | Description     | Default        |
|:----------------|:----------------|:--------------:|
| --cells-web-footer-scope      | scope description | default value  |
| --cells-web-footer  | empty mixin     | {}             |

@demo demo/index.html
-->
<dom-module id="cells-web-footer">
  <template>
    <style include="cells-web-footer-styles cells-web-footer-shared-styles"></style>
    <iron-media-query query="[[query]]" query-matches="{{isMobile}}"></iron-media-query>
    <div class$="[[_isMobile(isMobile)]] webfooter">
      <div class="webfooter-wrapper">
        <div class="webfooter-main flex-items-center">
          <div class="webfooter-header flex-items-center">
            <div class="webfooter-title flex-items-center">
              <cells-atom-icon class="custom-size" icon="[[logo]]"></cells-atom-icon>
              <div class="webfooter-company">
                [[t('cells-web-footer-company')]]
              </div>
            </div>
            <div class="webfooter-slogan">  
              <cells-atom-icon class="custom-size" icon="[[slogan]]"></cells-atom-icon>
            </div>
          </div>
          <div class="webfooter-icons">
            <template is="dom-repeat" 
                      items="[[rss]]">
              <a href="[[item.href]]" 
                  icon="[[item.icon.code]]"
                  class$="icon-size-[[item.icon.size]]
                  webfooter-icons-icon"
                  is="molecule-link-icon"></a>
            </template>
          </div>
        </div>
        <div class="webfooter-info">
          <div class="webfooter-links ">
            <template is="dom-repeat" items="[[links]]">
            <a href="[[item.href]]" icon="[[item.icon.value]]" class$="icon-size-[[item.icon.size]] webfooter-links-link" is="molecule-link-icon">[[item.text]]</a>
            </template>
          </div>
          <div class="webfooter-disclosure">[[t('cells-web-footer-disclosure')]]</div>
        </div>
      </div>
    </div>
  </template>
  <script src="cells-web-footer.js"></script>
</dom-module>
